<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerPort" value="10001" />
		<add key="ServerCertFilePath" value="C:\cert4\server1.pfx" />
		<add key="DbAddress" value="26.104.61.15" />
		<add key="DbPort" value="5430" />
		<add key="DbName" value="top_dawn" />
		<add key="DbUserName" value="postgres" />
		<add key="DbUserPassword" value="postgres" />
		<add key="RabbitMQHostName" value="NEWSPEED" />
		<add key="RabbitMQUserName" value="admin" />
		<add key="RabbitMQPassword" value="admin" />
		<add key="RabbitMQServerQueue" value="new_server" />
		<add key="ServerMatchmakingAddress" value="26.104.61.15" />
		<add key="ServerMatchmakingPort" value="5003" />
	</appSettings>
</configuration>
